/* hover - псевдо клас
   focus - псевдо клас
   font-size=розмір шрифту
   font-wight= товщина шрифту
   ul {
       list-style: none;   ---убрати маркери
   }
   
   */
/*Header*/


:root {
    --primary-text-color: #212121;
    --title-text-color: #2196F3;
    --font-family: 'Roboto', sans-serif;
    --second-family: ' Raleway', sans-serif;
}

ul {
    list-style: none;
}

.body {
    list-style: none;
}

.body {
    color: #212121;
    font-family: roboto;
}

.logo {
    font-family: ralewey;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.logo-second {
    color: #212121;
}

.list {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.list-studio:hover,
:focus :active {
    font-weight: 700;
    font-size: 20px;
}

.list-studio {
    color: #2196f3;
}

.list-portfolio:hover,
:focus:active {
    font-weight: 700;
    font-size: 20px;
}

.list-kontakt:hover,
:focus :active {
    font-weight: 700;
    font-size: 20px;
}

.tel {
    color: #757575;
}

.firstfon {
    width: 1600px;
    height: 554px;
    background: #2f303a;

}

.hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    /*змінити колір*/
}

.button {
    border-radius: 4px;
    width: 216px;
    height: 46px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
}

.text-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.text-lied {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}

.title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.person-name {
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.person-profession {
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}

.logo-footer {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.logo-studio {
    color: #fff;
}

.futer-fon {
    width: 1600px;
    height: 252px;
    background: #2f303a;
}

.info {
    background-color: #2f303a;
    /*тимчасовий фон для перевірки*/
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.info-adres {
    color: #fff;
}

/*portfolio*/
.list-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}
.portfolio  h2{
    font-weight: 700;
        font-size: 18px;
        line-height: 200%;
        letter-spacing: 0.06em;
        color: #212121;
}
.portfolio p {
font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: #757575;
}